/TestResults
/UnitTestProject1/bin
/UnitTestProject1/obj
/XingKongAutoStartup/bin
/XingKongAutoStartup/obj
/XingKongLogManager/bin
/XingKongLogManager/obj
/XingKongSerialPort/bin
/XingKongSerialPort/obj
/XingKongUtils/bin
/XingKongUtils/obj